h1 {
  display: inline-block;
}
p {
  display: inline-block;
}
/*div {
  width: 5em !important;
  border: 1em solid red;
  padding: 3em;
  margin: auto;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-left: -0em;
  margin-top: -0em;
}*/

div.a{
   /*font-family: 'Dongle', sans-serif;*/
   font-size: 2.2em;
   text-decoration: underline;
}
div.b{
   /*font-family: 'Dongle', sans-serif;*/
   font-size: 1em;
}
div.c{
   /*font-family: 'Nunito', sans-serif;*/
   font-size: 1.53em;
   text-decoration: underline;
}
div.d{
   /*font-family: 'Nunito', sans-serif;*/
   font-size: 0.60em;
}

.pquote {
   float: left;
   width: 6em;
   background: #3EB489;
   font-weight: bold;
   padding: 0.81em;
   margin: 0 6em 6em 0;
}

blockquote {
   margin: 0; /* gets rid of the default blockquote margin */
}

.flex-container {
  display: flex;
  background-color: #cc0000;
  opacity: 0.33;
}

.flex-container > div {
  background-color: #cc0000;
  opacity: 0.33;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
