h1 {
  display: inline-block;
}
p {
   font-size: 0.60em;
}
/*
You need:
display: flex;
flex: 1 1 auto;
*/

div.a{
   /*font-family: 'Dongle', sans-serif;*/
   font-size: 2.2em;
   text-decoration: underline;
   color: #000000;
   text-align: left;
   display: inline-block;
}
div.b{
   /*font-family: 'Dongle', sans-serif;*/
   font-size: 1em;
   color: #000000;
   text-align: left;
   display: inline-block;
}
div.c{
   /*font-family: 'Nunito', sans-serif;*/
   font-size: 1.53em;
   text-decoration: underline;
   color: #000000;
   text-align: left;
   display: inline-block;
}
div.d{
   /*font-family: 'Nunito', sans-serif;*/
   font-size: 0.60em;
   color: #000000;
   text-align: right;
   display: inline-block;
}

.wrapper {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(3, 100px);
}

.flex-container,
.flex-container-r,
.flex-container-l,
.flex-container-2
{
  display: grid;
  left: 40%;
  margin: auto auto auto auto;
  background-color: #cc0000;
  padding: 1em;
  font-size: 1em;
  position: relative;
  margin-bottom: 2em;
  width: 10em;
  height: 6.5em;
}

.scroll, .scroll-r {
  display: grid;
  justify-content: center;
  text-align: center;
  background-color: #cc0000;
  opacity: 1;
  padding: 2em;
  width: 10em;
  height: 10em;
  overflow-x: hidden;
  overflow-y: auto;
  top: 10em;
  left: -13em;
  position: relative;
  margin-bottom: 5em;
  }

.flex-container-r {
  left: 35em;
  }
.flex-container-2 {
  left: -40%;
  }

.flex-container-l {
  width: 20em;
  left: 10%;
}

.scroll-r {
  left: 0em;
  }

button {
  top: 10em;
  left: 42%;
  display: grid;
  position: relative;
}

#container {
    justify-content: center;
    display: grid;
    background-color: #cc0000;
    opacity: 0.33;
    margin: 2em;
    padding: 2em;
    width: 1em;
    height: 1em;
  }
