

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

body {
  background-color: #ff7070;
}
h1 {
  font-size: 1.3em;
  font-weight: bold;
  display: inline-block;
  border-radius: 1em;
  line-height: 2.2em;
}
p {
   font-size: 0.65em;
}

a,b {
  font-family: inherit;
  text-decoration: none;
  border-radius: 0.5em; /* 8px / 16px = 0.5em */
}
h3 {
  font-size: 0.75em;
  text-align: center;
  border: 0;
}
h4 {
  font-size: 0.2em;
  font-weight: normal;
}
p {
   /*font-family: 'Nunito', sans-serif;*/
   font-size: 0.6em;
   color: #000000;
   text-align: right;
   display: inline-block;
}
c {
   /*font-family: 'Nunito', sans-serif;*/
   font-size: 1em;
   color: #000000;
   text-align: left;
   display: inline-block;
   line-height: 200%;
}

input[type="number"] {
  -moz-appearance: textfield;
}
li {
  list-style-type: none;
}

section, section3, section4 {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(3, 100px);
}
aside2 {
  overflow-x: hidden;
  overflow-y: auto;
}

.flex-container,
aside-r,
section2, section3, section4,
.flex-container-2,
aside, aside-l
{
  display: grid;
  left: 40%;
  margin: auto auto auto auto;
  background-color: #cc0000;
  padding: 1em;
  font-size: 1em;
  position: relative;
  margin-bottom: 2em;
  width: 9em;
  height: 7.2em;
}

.scroll, aside2-r, aside2 {
  display: grid;
  justify-content: center;
  text-align: center;
  background-color: #cc0000;
  opacity: 1;
  padding: 2em;
  width: 10em;
  height: 10em;
  overflow-x: hidden;
  overflow-y: auto;
  top: 10em;
  left: -13em;
  position: relative;
  margin-bottom: 5em;
  }

aside-r {
  left: 36.5em;
  }
.flex-container-2 {
  left: -40%;
  }

section2, section3 {
  top: 1em;
  width: 20em;
  height: 13em;
  left: 25%;
}
section4 {
  top: -6.2em;
  width: 20em;
  height: 22em;
  left: 12em;
}
section3 {
  height: 12em;
}
aside-ll, aside-lll {
  top: 1em;
  width: 20em;
  height: 11em;
  left: 15em;
}
aside-lll {
  top: 1em;
  width: 20em;
  height: 20em;
  left: 15em;
}

aside2-r {
  left: 0em;
  }

input[type="submit"] {
  top: 10em;
  margin: 0 auto;
}

#container {
    justify-content: center;
    display: grid;
    background-color: #cc0000;
    opacity: 0.33;
    margin: 2em;
    padding: 2em;
    width: 1em;
    height: 1em;
  }

/* Buttons */
.pbutton {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  padding: 0.5em 0.5em; /* 8px / 16px */
  line-height: 2.625em; /* 42px / 16px = 2.625em */
  color: initial;

  top: 7em;
  margin: 0 auto;
  left: -4.5em;
  width: 9em;
  display: grid;
  position: relative;
  }
.pbutton2 {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  padding: 0.5em 0.5em; /* 8px / 16px */
  line-height: 2.625em; /* 42px / 16px = 2.625em */
  color: initial;
  }
