h1 {
  display: inline-block;
}
p {
   font-size: 0.60em;
}
/*
You need:
display: flex;
flex: 1 1 auto;
*/

h3 {
  font-size: 0.8em;
  text-align: center;
}
h4 {
  font-size: 0.2em;
  font-weight: normal;
}
p {
   /*font-family: 'Nunito', sans-serif;*/
   font-size: 0.55em;
   color: #000000;
   text-align: right;
   display: inline-block;
}
li {
  list-style-type: none;
}

.wrapper {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(3, 100px);
   width: 5em;
   font-size: 0.4em;
   font-weight: normal;
}

.flex-container,
.flex-container-r,
.flex-container-l,
.flex-container-2
{
  display: grid;
  left: 40%;
  margin: auto auto auto auto;
  background-color: #cc0000;
  padding: 1em;
  font-size: 1em;
  position: relative;
  margin-bottom: 2em;
  width: 9em;
  height: 7.2em;
}

.scroll, .scroll-r {
  display: grid;
  justify-content: center;
  text-align: center;
  background-color: #cc0000;
  opacity: 1;
  padding: 2em;
  width: 10em;
  height: 10em;
  overflow-x: hidden;
  overflow-y: auto;
  top: 10em;
  left: -13em;
  position: relative;
  margin-bottom: 5em;
  }

.flex-container-r {
  left: 36.5em;
  }
.flex-container-2 {
  left: -40%;
  }

.flex-container-l {
  top: 1em;
  width: 20em;
  height: 11em;
  left: 25%;
}
.flex-container-ll {
  top: 1em;
  width: 20em;
  height: 11em;
  left: 10%;
}

.scroll-r {
  left: 0em;
  }

button {
  top: 10em;
  margin: 0 auto;
  display: grid;
  position: relative;
}

input[type="submit"] {
  top: 10em;
  top: 10em;
  margin: 0 auto;
}

#container {
    justify-content: center;
    display: grid;
    background-color: #cc0000;
    opacity: 0.33;
    margin: 2em;
    padding: 2em;
    width: 1em;
    height: 1em;
  }
